dash==3.2.0
dash-bootstrap-components==2.0.3
pandas==2.2.3
numpy==1.26.4
fastf1==3.5.3
xgboost==2.1.0
scikit-learn==1.4.2
plotly==6.1.2
gunicorn==22.0.0
Flask==3.0.3
joblib==1.4.2
python-dateutil==2.9.0
requests==2.32.3
tqdm==4.66.5
